# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Testing
coverage/

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Astro
.astro/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Supabase Local Development
supabase/config.toml
supabase/.branches
supabase/.temp

.nojekyll
*.sql
*.tex

# Ignore heavy dependencies and build outputs in project-igem, but keep the core files
public/projects/project-igem/**/node_modules/
public/projects/project-igem/**/.next/
public/projects/project-igem/**/dist/
public/projects/project-igem/**/build/
public/projects/project-igem/**/coverage/
public/projects/project-igem/**/*.log
public/projects/project-igem/**/.Trash-*/
public/projects/project-igem