# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Testing
coverage/

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Astro
.astro/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Supabase Local Development
supabase/config.toml
supabase/.branches
supabase/.temp

.nojekyll
*.sql